.redirectPageContainerHelpdesk {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    // direction: ltr;
    // height: 150vh;
    // display: flex;
    // flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;

    .row {
        padding-top: 30px;
        text-align: center;

        button {
            // margin-left: 20px !important;
            margin-right: 10px !important;
            margin-left: 10px !important;

            width: auto;
            padding-left:20px;
            padding-right:20px;
        }
    }

    

    .row p {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;
        
    }

}